@charset "UTF-8";

body {
    background-color: rgb(243, 243, 243);
}

div#imagem_principal {
    text-align: center;
}

header h1{
    font-family: sans-serif;
    background-color: #242424;
    color: rgb(243,243,243);
    padding: 10px;
    text-align: center;
}

menu {
    list-style: none;
    text-transform: uppercase;
    clear: both;
}

footer {
    font-family: sans-serif;
    opacity: .9;
    background-color: #242424;
    color: rgb(243,243,243);
    padding: 5px;
    trans;
    font-size: medium;
    margin-top: 30px;
    text-align: center;
    line-height: 0.5;
}

a.link {
    font-size: 20pt;
    color: rgb(243,243,243);
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}

i:hover {
    font-size: 50pt;
}

div.divIframe {
    width: 100%px;
    height: 1250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

h1 {
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px;
}

h2 {
    text-align: center;
}

p {
    margin: auto;
}