@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: 'Signika Negative', sans-serif;
    background-color: #eeeeee;
    color: rgb(119, 119, 119);
}

/* Aqui vamos formatar toda a interface que delimitamos na linha 11 do index*/
div#interface {
    width: 1250px;
    background-color: #dddddd;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgb(155, 155, 155);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color:#606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1250px;
    top: 42px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 160px;
    background: url("../_imagens/cabecalho.png") no-repeat 0px 90px;

}

header#cabecalho h1 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 40pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Signika Negative', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid rgb(87, 87, 87);
    box-shadow: 1px 1px 4px rgb(0, 0, 0);
}

figure.foto-legenda img {
    width: 25%;
    height: 25%;
    margin: auto;
    display: block;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do Menu */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 700px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 0.7s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
}

section#corpo {
    display:block;
    width: 800px;
    float: left;
    border-right: 1px solid #000000;
    padding-right: 20px;
}

article#noticia-principal h2 {
    font-size: 20pt;
    color: #f1f1f1;
    background-color: #1f1f1f;
    padding: 5px 0px 5px 0px;
    margin-top: 30px;
}

header#cabecalho-artigo h1 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 20pt;
    color:#606060;
    margin-bottom: 0px;
    margin-top: 0px;
}   

header#cabecalho-artigo h2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 10pt;
    color:#606060;
    background-color: #dddddd;
    margin: 0px
}

header#cabecalho-artigo h3 {
    font-family: 'Signika Negative', sans-serif;
    color:#606060;
    text-align: right;
    font-size: 8pt;
}

header#cabecalho-artigo h3.esquerd {
    text-align: left;
}

article#noticia-principal h2.oquee {
    margin-top: 0px;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
}

table#tabelaspec td.ce {
    color: whitesmoke;
    background-color: #b4b4b4;
    font-weight: bold;
    font-size: 16pt;
    text-align: center;
}

table#tabelaspec td.cd {
    color: #606060;
    background-color: #cfcece;
    font-weight: normal;
    font-size: 14pt;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 14pt;
    font-weight: bolder;
    text-align: center;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: #a0a0a0;
    font-size: 10pt;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    width: 410px;
    float: right;
    color: #dddddd;
    background-color: #888888;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside#lateral h1 {
    font-size: 20pt;
    color:#ffffff;
}

aside#lateral h2 {
    font-size: 15pt;
    color:#606060;
    background-color: #dddddd;
    padding: 5px;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}